@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  background-color: #020617;
  color: white;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;

  
  overflow-y: scroll; 
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none;
}
